
body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}
.mainheader{
    position: absolute;
    width: 100%;
    background-color: white;
    height: 120px;
    top: 0;
    left:0;
}

.header{
    
    background: #4aaaa5;
    float: left;
    margin-left: 200px;
    padding: 20px;
    height: 80px;
    

}
h1{
    color:white;
}


.nav{
    margin: 20px 200px 20px 20px;
    height: 80px;
    float: right;

}.nav a{
   
    padding: 10px;

    /* float: right; */
    display: inline-block;
}



.page{
    background-color:grey;
    width: 100%;
    margin-top: -20px;
    }

.content{
    background-color: white;
    margin:130px 200px auto 190px;
    padding: 10px;
    height:auto;
    /* border-bottom: 10px solid black; */



}

h2{
    background-color: white;
    color: #4aaaa5;
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding: 20px;

   
    

}
 .main{
     margin-left: 0px;
     /* margin:20px 200px auto 0px; */
    
 }   


img{
    
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 0px;
    padding:20px;
    /* padding: 30px 30px 30px 30px; */
}


p{
    padding: 20px;
    color: #777777;
    
    
}
footer{
    background-color: #666666;
    height: 40px;
    width: 100%;
    text-align: center;
    /* margin-bottom: 0px; */
    position: fixed;
    bottom:0;

}
h3{
    font-size: 6px;
    color: white;
    /* text-align: end; */
    /* bottom:  0px; */
    margin-top: 20px;
    padding: 20px;

}